.link:hover {
  opacity: 0.8;
}

.imageContainer {
  position: relative;
  aspect-ratio: 1/1;
  height: 50px;
  width: 50px;
}

.image {
  border-radius: 50%;
  border: 2px solid lightgray;
  object-fit: cover;
  cursor: pointer;
}

.userProf {
  display: flex;
  gap: 15px;
  border-bottom: 1px solid #aaaa;
  margin: 5px 20px;
  padding-bottom: 8px;
}

.imageContainerProf {
  position: relative;
  aspect-ratio: 1/1;
  height: 50px;
  width: 50px;
}

.imageUserProf {
  border-radius: 10px;
  object-fit: cover;
}

.menuDropdown {
  position: absolute;
  padding: 10px 0;
  top: 85px;
  background-color: var(--bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  z-index: 999;
  border-radius: 10px;
  border: 2px solid #aaa;
}

.menuLink {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.linkDropdown {
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
}

.linkDropdown:hover {
  opacity: 0.8;
}

@media screen and (max-width: 640px) {
}
