.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addBtn {
  padding: 10px 20px;
  display: flex;
  gap: 10px;
  font-size: 18px;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  border: 1px solid;
}

.wrapper {
  overflow-x: auto;
  min-width: 965px;
  max-width: 1129px;
}

.table {
  margin-top: 20px;
  border: 1px solid;
  border-collapse: collapse;
  padding: 20px;
}

.th {
  padding: 10px;
  border: 1px solid;
}

.td {
  padding: 10px;
  width: 100px;
  white-space: nowrap;
  border: 1px solid;
}

.actionsBtnEdit {
  font-size: 25px;
  cursor: pointer;
  color: rgb(209, 192, 11);
}

.actionsBtnDelete {
  font-size: 25px;
  cursor: pointer;
  color: red;
}

.buttonClose {
  cursor: pointer;
  font-size: 24px;
  color: red;
  background: none;
  border: none;
}
.buttonAdd {
  cursor: pointer;
  font-size: 24px;
  margin-left: 20px;
  color: green;
  background: none;
  border: none;
}

.redText {
  color: red;
}
