.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.textContainer {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.category {
  font-size: 18px;
  width: max-content;
  text-transform: capitalize;
}

.category:hover {
  text-decoration: underline;
}

.title {
  font-size: 64px;
  margin-bottom: 50px;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userImageContainer {
  width: 50px;
  height: 50px;
  position: relative;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
}

.userTextContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--softTextColor);
}

.username {
  font-size: 20px;
  font-weight: 500;
}

.imageContainer {
  min-height: 1000px;
  position: relative;
}

.image {
  object-fit: cover;
  border-radius: 20px;
}

.content {
  display: flex;
  gap: 50px;
}

.post {
  flex: 5;
  margin-top: 60px;
}

.description {
  font-family: "Noto Serif", Regular, Times New Roman;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}

/* @media screen and (max-width: 1536px) {
  .title {
    font-size: 54px;
  }
}
@media screen and (max-width: 1280px) {
  .title {
    font-size: 48px;
  }
} */
@media screen and (max-width: 1024px) {
  .imageContainer {
    min-height: 500px;
  }
}
@media screen and (max-width: 640px) {
  .title {
    font-size: 36px;
  }

  .description p {
    font-size: 18px;
  }
}
