.container {
  padding: 0 330px;
  position: relative;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.textContainer {
  flex: 1.5;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.category {
  font-size: 18px;
  width: max-content;
  text-transform: capitalize;
}

.category:hover {
  text-decoration: underline;
}

.title {
  font-size: 64px;
  margin-bottom: 50px;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
}

.userImageContainer {
  width: 50px;
  height: 50px;
  position: relative;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
}

.userTextContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--softTextColor);
}

.username {
  font-size: 20px;
  font-weight: 500;
}

.imageContainer {
  min-height: 600px;
  max-height: 700px;
  position: relative;
}

.image {
  object-fit: cover;
  border-radius: 20px;
}

.content {
  display: flex;
  gap: 50px;
}

.post {
  flex: 5;
  margin-top: 60px;
}

.description {
  font-family: "Noto Serif", Regular, Times New Roman;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 20px;
}

@media screen and (max-width: 1280px) {
  .container {
    padding: 0;
  }
}
@media screen and (max-width: 1024px) {
  .imageContainer {
    min-height: 500px;
  }
  .description {
    text-align: justify;
  }
}
@media screen and (max-width: 640px) {
  .imageContainer {
    min-height: 370px;
  }
  .title {
    font-size: 36px;
  }

  .description p {
    font-size: 18px;
  }
}
