.categoryList {
  margin-top: 35px;
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.categoryItem {
  padding: 10px 25px;
  border-radius: 20px;
  font-size: 14px;
  color: #fff;
}

.categoryItem.style {
  background-color: #d66565;
}
