.container {
  position: fixed;
  top: 200px;
  left: 300px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.userImageContainer {
  width: 70px;
  height: 70px;
  position: relative;
}

.icon {
  font-size: 28px;
  cursor: pointer;
}

.iconSocial {
  display: flex;
  gap: 10px;
  flex-direction: column;
  position: absolute;
  bottom: -50px;
  left: 60px;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

@media screen and (max-width: 1536px) {
  .container {
    left: 100px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    left: 0;
  }
}

@media screen and (max-width: 640px) {
  .container {
    display: none;
  }
}
