.about_header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 50px;
}

.content {
  width: 80%;
}

.title {
  font-size: 50px;
}

.slogan {
  font-size: 30px;
  margin-top: 40px;
  font-weight: 600;
}

.content1 {
  margin-top: 20px;
}

.imgContainer {
  height: 600px;
  width: 100%;
  position: relative;
}

.img {
  object-fit: cover;
}

.about_midle {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 30px 0 30px 0;
  margin-top: 50px;
  border: 1px solid;
}

.about_midle_content {
  display: flex;
  gap: 220px;
  margin-top: 30px;
}

.about_midle_child {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 200px;
}

@media screen and (max-width: 1280px) {
  .about_midle_content {
    gap: 180px;
  }
}

@media screen and (max-width: 1024px) {
  .imgContainer {
    display: none;
  }
  .content {
    width: 100%;
  }
  .about_midle_content {
    flex-direction: column;
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {
}
