.items {
  margin-top: 35px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.imageContainer {
  flex: 1;
  position: relative;
  aspect-ratio: 1/1;
}

.image {
  border-radius: 50%;
  border: 3px solid lightgray;
  object-fit: cover;
}

.textContainer {
  flex: 4;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.category {
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 14px;
  color: white;
  width: max-content;
  background-color: #ff7857;
}

.postTitle {
  font-size: 16px;
  font-weight: 500;
  color: var(--softTextColor);

  overflow: hidden;
  text-overflow: ellipsis;
  /* line-height: 25px; */
  -webkit-line-clamp: 2;
  height: max-content;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.detail {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

.date {
  color: gray;
}
