.container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 50px;
}

.imgContainer {
  height: 700px;
  width: 100%;

  position: relative;
}

.img {
  object-fit: cover;
}

.form {
  display: flex;
  flex-direction: column;
  border: 1 solid #aaa;
  width: 100%;
}

.label {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  margin-top: 20px;
}

.input {
  background: #fff;
  color: #333;
  border-radius: 2px;
  border: 1px solid #eae9e9;
  padding: 8px 16px;
  outline: 0;
  font-size: 14px;
  height: 40px;
  box-shadow: none;
}

.input:focus {
  border-color: #b64c4c;
}

.button {
  padding: 15px;
  margin-top: 20px;
  border: none;
  color: #fff;
  background-color: rgb(57, 79, 107);
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
  .imgContainer {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .imgContainer {
    display: none;
  }
  .form {
    justify-content: center;
  }
}

@media screen and (max-width: 640px) {
}
