.container {
  margin-top: 50px;
}

.title {
  color: var(--softTextColor);
  margin-bottom: 30px;
}

.write {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 50px;
}

.emojiContainer {
  position: relative;
}

.emoji {
  position: absolute;
  z-index: 1000;
  top: 40px;
  left: -170px;
}

.input {
  width: 100%;
  background: none;
  color: var(--softTextColor);
  border: none;
  border-bottom: 1px solid;
  font-size: 18px;
}

.input:focus {
  outline: none;
}

.groupButton {
  display: flex;
  gap: 10px;
}

.button {
  padding: 10px 20px;
  background-color: rgb(1, 72, 72);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(2, 112, 112);
}

.comments {
  margin-top: 50px;
}

.comment {
  margin-bottom: 50px;
}

.user {
  display: flex;
  gap: 20px;
  margin-bottom: 15px;
}

.image {
  border-radius: 50%;
  object-fit: cover;
}

.userInfo {
  display: flex;
  flex-direction: column;
  color: var(--softTextColor);
}

.username {
  font-weight: 500;
}

.date {
  font-size: 13px;
  margin-left: 10px;
  opacity: 0.6;
}

.desc {
  font-size: 18px;
  font-weight: 300;
}

.vote {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  margin-top: 15px;
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
}
@media screen and (max-width: 640px) {
}
