.container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.select {
  margin-bottom: 50px;
  padding: 10px 20px;
  margin-left: 50px;
  width: max-content;
}

.category {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.selectCategory {
  min-width: 250px;
  outline: none;
  padding: 10px 5px;
  border-radius: 20px;
  background-color: var(--bg);
  color: var(--textColor);
}

.notification {
  margin-top: 10px;
}

.choseButton {
  display: flex;
  gap: 20px;
  position: relative;
}

.button,
.addButton {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid var(--textColor);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.addButton {
  border-color: #1a8917;
}

.add {
  display: flex;
  gap: 20px;
  background-color: var(--bg);
  position: absolute;
  z-index: 999;
  width: 50%;
  left: 50px;
}

.input {
  padding: 30px;
  font-size: 64px;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--textColor);
}

.input::placeholder {
  color: #b3b3b1;
}

.editor {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.textArea {
  padding: 0;
  height: 700px;
  width: 100%;
  border-right: 1px solid #aaa;
  position: relative;
}

.publish {
  padding: 10px 20px;
  width: max-content;
  border: none;
  background-color: #1a8917;
  color: white;
  cursor: pointer;
  border-radius: 20px;
}
