.wrapper {
  overflow-y: scroll;
  max-width: 500px;
  max-height: 260px;
  min-height: 260px;
}
.room {
  display: flex;
  gap: 10px;
  padding: 10px 0 10px 10px;
}

.imageContainer {
  width: 60px;
  height: 60px;
  position: relative;
  aspect-ratio: 1/1;
  border: 1px solid;
  border-radius: 50%;
}

.image {
  object-fit: cover;
  border-radius: 50%;
}

.inforRoom {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
