.item {
  width: 60%;
  display: flex;
  gap: 20px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.imageContainer {
  position: relative;
}

.image {
  object-fit: cover;
}

.desc {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
  width: 100%;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  /* line-height: 25px; */
  -webkit-line-clamp: 2;
  height: max-content;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.content {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  -webkit-line-clamp: 2;
  height: max-content;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.author {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1280px) {
  .item {
    width: 100%;
  }
}
